use flake

export ENV="dev" # or prod
export SECRET="secret"
export TF_VAR_secret=$SECRET
export API_HOST="localhost"
export REST_API_PORT="8080"
export RPC_PORT="9090"
export POSTGRES_HOST="localhost"
export POSTGRES_PORT="5432"
export POSTGRES_USER="admin"
export TF_VAR_db_user=$POSTGRES_USER
export POSTGRES_PASSWORD="password"
export TF_VAR_db_password=$POSTGRES_PASSWORD
export POSTGRES_DB="alerting_platform_api"
export REDIS_HOST="localhost"
export REDIS_PORT="6379"
export REDIS_DB="0"
export REDIS_PASSWORD="password"
export PROJECT_ID="fill_this"
export TF_VAR_project_id=$PROJECT_ID
export FIRESTORE_DB="logger-db"
export TF_VAR_firestore_db=$FIRESTORE_DB
export PUBSUB_EMULATOR_PORT="8085"
export PUBSUB_EMULATOR_HOST="localhost:$PUBSUB_EMULATOR_PORT" 
export FIRESTORE_EMULATOR_PORT="8086"
export FIRESTORE_EMULATOR_HOST="localhost:$FIRESTORE_EMULATOR_PORT
export SMTP_HOST="sandbox.smtp.mailtrap.io"
export TF_VAR_smtp_host="smtp.mailersend.net"
export SMTP_PORT="2525"
export SMTP_USER="user"
export TF_VAR_smtp_user="user"
export SMTP_PASS="pass"
export TF_VAR_smtp_pass="pass"
export EMAIL_FROM="alerting-service@test-y7zpl983d6o45vx6.mlsender.net"