name: Production Pipeline

on:
  # push:
  #   branches: [main]
  workflow_dispatch:

env:
  TF_BOOTSTRAP: infra/01-bootstrap
  TF_INFRA: infra/02-infra
  TF_HELM: infra/03-helm
  BACKEND_DIR: backend
  FRONTEND_DIR: frontend

  TF_VAR_project_id: "${{ vars.PROJECT_ID }}"
  TF_VAR_secret: "${{ secrets.SECRET }}"
  TF_VAR_db_user: "${{ vars.DB_USER }}"
  TF_VAR_db_password: "${{ secrets.DB_PASSWORD }}"
  TF_VAR_smtp_host: "${{ vars.SMTP_HOST }}"
  TF_VAR_smtp_user: "${{ vars.SMTP_USER }}"
  TF_VAR_smtp_pass: "${{ secrets.SMTP_PASS }}"

  # Set via Repo Settings
  # PROJECT_ID
  # SECRET
  # BUCKET_NAME
  # DB_USER
  # DB_PASSWORD
  # SMTP_HOST
  # SMTP_USER
  # SMTP_PASS
  # GCP_CREDENTIALS

jobs:
  bootstrap:
    name: "Bootstrap"
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Auth GCP
        uses: google-github-actions/auth@v2
        with:
          credentials_json: "${{ secrets.GCP_CREDENTIALS }}"

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v3

      - name: Terraform Apply (01-bootstrap)
        run: |
          cd ${{ env.TF_BOOTSTRAP }}
          echo ${{ env.BUCKET_NAME }}
          terraform init -backend-config="bucket=${{ vars.BUCKET_NAME }}"
          terraform apply -auto-approve

  create-infra:
    name: "Create Infrastructure"
    needs: bootstrap
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Auth GCP
        uses: google-github-actions/auth@v2
        with:
          credentials_json: "${{ secrets.GCP_CREDENTIALS }}"

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v3

      - name: Terraform Apply (02-infra)
        run: |
          cd ${{ env.TF_INFRA }}
          terraform init -backend-config="bucket=${{ vars.BUCKET_NAME }}"
          terraform apply -auto-approve

  backend-lint-test:
    name: "Backend Check ${{ matrix.service }}"
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        service:
          [common, api, incident-manager, logger, notifier, scheduler, worker]
    steps:
      - uses: actions/checkout@v4

      - name: Setup Go
        uses: actions/setup-go@v5
        with:
          go-version: "1.25"

      - name: Install Lint Tool
        run: curl -sSfL https://golangci-lint.run/install.sh | sh -s -- -b $(go env GOPATH)/bin v2.7.2

      - name: Lint ${{ matrix.service }}
        working-directory: ${{ env.BACKEND_DIR }}
        run: make lint-service SERVICE=${{ matrix.service }}

      - name: Test ${{ matrix.service }}
        working-directory: ${{ env.BACKEND_DIR }}
        run: make test-service SERVICE=${{ matrix.service }}

  backend-build-push:
    name: "Backend Build & Push ${{ matrix.service }}"
    needs: [bootstrap, backend-lint-test]
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        service: [api, incident-manager, logger, notifier, scheduler, worker]
    steps:
      - uses: actions/checkout@v4

      - name: Auth GCP
        uses: google-github-actions/auth@v2
        with:
          credentials_json: "${{ secrets.GCP_CREDENTIALS }}"

      - name: Setup Go
        uses: actions/setup-go@v5
        with:
          go-version: "1.25"

      - name: Configure Docker Auth
        run: gcloud auth configure-docker europe-west1-docker.pkg.dev

      - name: Init Terraform State
        uses: hashicorp/setup-terraform@v3
        # with:
        #   terraform_wrapper: false
      - run: cd ${{ env.TF_BOOTSTRAP }} && terraform init -backend-config="bucket=${{ vars.BUCKET_NAME }}"

      - name: Build Image
        working-directory: ${{ env.BACKEND_DIR }}
        run: make build-service SERVICE=${{ matrix.service }}

      - name: Push Image
        working-directory: ${{ env.BACKEND_DIR }}
        run: make push-service SERVICE=${{ matrix.service }}

  frontend-ci:
    name: "Frontend"
    needs: bootstrap
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Auth GCP
        uses: google-github-actions/auth@v2
        with:
          credentials_json: "${{ secrets.GCP_CREDENTIALS }}"

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: 22

      - name: Install pnpm
        uses: pnpm/action-setup@v3
        with:
          version: 9

      - name: Init Terraform State
        uses: hashicorp/setup-terraform@v3
        # with:
        #   terraform_wrapper: false
      - run: cd ${{ env.TF_BOOTSTRAP }} && terraform init -backend-config="bucket=${{ vars.BUCKET_NAME }}"

      - name: Install Deps
        working-directory: ${{ env.FRONTEND_DIR }}
        run: pnpm install --frozen-lockfile

      - name: Lint
        working-directory: ${{ env.FRONTEND_DIR }}
        run: make lint

      - name: Build
        working-directory: ${{ env.FRONTEND_DIR }}
        run: make build

      - name: Deploy to GCS
        working-directory: ${{ env.FRONTEND_DIR }}
        run: make push

  deploy-helm:
    name: "Deploy Helm Releases"
    needs: [create-infra, backend-build-push]
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Auth GCP
        uses: google-github-actions/auth@v2
        with:
          credentials_json: "${{ secrets.GCP_CREDENTIALS }}"

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v3

      - name: Install GKE Auth Plugin
        run: sudo apt-get install google-cloud-cli-gke-gcloud-auth-plugin

      - name: Terraform Apply (03-helm)
        run: |
          cd ${{ env.TF_HELM }}
          terraform init -backend-config="bucket=${{ vars.BUCKET_NAME }}"
          terraform apply -auto-approve
